{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info|raw }} <br />
{{ flash.error|raw }} <br />

{% if user %}

    <img src="{{ user.avatar|raw }}" alt="" width="400px" />

    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{ user.id|escape }}</td>
            <td>{{ user.username|escape }}</td>
            <td>{{ user.email|escape }}</td>
            <td>{{ user.bio|escape('js') }}</td>
            <td>{{ user.age|escape }}</td>
        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|escape('js') }}".
{% endif %}

{% endblock %}
