{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info|raw }} <br />
{{ flash.error|raw }} <br />

{% if user %}

    <img src="{{ user.avatar|raw }}" alt="" width="400px" />

    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Hash</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{ user.id|raw }}</td>
<<<<<<< HEAD
            <td>{{ user.username|raw }}</td>
            <td>-</td>
            <td>{{ user.email|raw }}</td>
            <td>{{ user.bio|raw }}</td>
            <td>{{ user.age|raw }}</td>
=======
            <td>{{ user.username|escape }}</td>
            <td>{{ user.email|escape }}</td>
            <td>{{ user.bio|escape }}</td>
            <td>{{ user.age|escape }}</td>
>>>>>>> 8f97e0f184388f41b143e629715dd7a299909178
        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|raw }}".
{% endif %}

{% endblock %}
